body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:lightblue;
}

.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #7c1c10;
    border-radius: 8px;
    background-color:white;
    max-width: 600px;
    width: 100%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:darkslategrey;
    color:white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: lightseagreen;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid darkcyan; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    display: none;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-message {
    color: red;
    font-weight: bold;
}
