.slider {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.project-card:hover .slides {
    animation: slideCarousel 8s infinite;
}

@keyframes slideCarousel {
    0%, 20% {
        transform: translateX(0%);
    }
    25%, 45% {
        transform: translateX(-100%);
    }
    50%, 70% {
        transform: translateX(-200%);
    }
    75%, 95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0%);
    }
}
