body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-left{
 

       position: fixed;
       font-weight: bold;
       top: 10px;
       left: 10px;
       background-color: #dfec91;
       color: #0c0c0c;
       padding: 5px 10px;
       border-radius: 5px;
       font-size: 18px;
       z-index: 1;
}
.profile-pic-container {
    display: inline-block;
    position: relative;
     /* Ensure it’s above other content */
}
.profile-pic {
    border-radius: 50%; /* Makes the image circular */
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    object-fit: cover; /* Ensures the image covers the dimensions without distortion */
    margin-top: 10px; 
    transition: transform 0.3s ease;
    position: relative;
    border: 2px solid #dfec91;
   
}
.profile-pic-container:hover .profile-pic {
    transform: scale(1.4); /* Enlarges the image */
    margin-bottom: 50px; /* Adjust space to push content down */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
    border: 2px solid #dfec91;/* Shadow for pop-up effect */
}
    
    


header {
    background-color: #726e6e;
    color: #fff;
    padding:20px;
    text-align: center;
    position: relative;
} 
   

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul li a:hover {
    color: #dfec91; 
    text-decoration: underline;

}
main {
    transition: margin-top 0.3s ease; /* Smooth transition */
    margin-top: 50px; /* Adjust based on image size */
}
    
.social-link {
    text-decoration: none;
    color: #ecfc93;
    font-size: 18px; /* Adjust the size as needed */
    
}

.social-link:hover {
    color: #8ab9d3; /* LinkedIn blue color for hover effect */
}

   



section {
    padding: 20px;
    margin: 10px;
}
#about .about{
    border: 1px solid #fbfcf8;
    padding: 10px;
    margin: 10px 0;   
}


#portfolio .project {
    border: 1px solid #dfec91;
    padding: 10px;
    margin: 10px 0;
}
/* General styles for the skills section */
#skills {
    padding: 20px;
    background-color: #dfec91;

}
.gen-skill{
    color: #333;
    letter-spacing: 2px;
    font-family: monospace;
    font-size: 25px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.skill p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 8px;
    margin-top: 5px;
}

form button {
    position: relative;
    margin-top: 10px;
    padding: 10px;
    background-color: #e2f58e;
    color: #171816;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

footer {
    background-color: #838181;
    color: #fff;
    text-align: center;
    padding: 10px;
    
}
